:root {
  --red-color: #fb5367;
  --blue: #36bbe4;
  --purple: #605dfa;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.3;
}

.item-title{
	font-size: 30px;
	font-weight: 800;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 70px;
}
h1.item-title{
	font-size: 40px;
	margin-bottom: 35px;
}
.item-title:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 35px;
	background: #605dfa;
	margin-right: 10px;
}
.item-title.red-title:before{
	background: var(--red-color);
}
.item-title--blue:before{
	background: var(--blue);
}
h1.item-title:before{
	background: var(--red-color);
	position: relative;
	top: -3px;
}
.item-title--form:before{
	content: none;
}
.info-block{
	height: 100%;
}
.info-block > div{
	width: 100%;
}
.description{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 40px;
}
.text-block{
	padding: 200px 0;
	padding-bottom: 50px;
	position: relative;
}
.text-block__content{
	margin-top: 130px;
}
.text-block__item{
	width: 33.3%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.text-block__img{
	margin-bottom: 20px;
}
h4{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
p{
	font-size: 16px;
	line-height: 1.5;
}
p + p{
	margin-top: 30px;
}
/*.review__item{
	float: left;
	max-width: 390px;
	padding-right: 100px;
}*/
.mrg0{
	margin-bottom: 0;
}
.review{
	position: relative;
}
.review__content{
	padding-bottom: 150px;
}
.review__img{
	position: absolute;
	z-index: 2;
	right: 0;
	bottom: -140px;
}
.consultation{
	position: relative;
	z-index: 3;
	color: #fff;
	background: #2aabe0;
	height: 345px;
}
.consultation__text{
	width: 681px;
	height: 476px;
	background: url(../img/sky.png)no-repeat;
	text-align: center;
	color: #000;
	position: absolute;
	z-index: 3;
	right: 100px;
	top: -80px;
}
.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.consultation__text > div{
	max-width: 480px;
	margin: auto;
}
.button{
	display: inline-block;
	vertical-align: middle;
	width: 305px;
	text-align: center;
	color: #fff;
	padding: 20px 10px;
	background: var(--red-color);
	font-size: 18px;
	font-weight: 600;
}
	.button:hover{
    background: #bd4150;
	}

.button span{
	display: inline-block;
	vertical-align: middle;
}
.button span:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 9px;
	background: url(../img/dotted.png)no-repeat;
	margin-right: 10px;
}
.button span:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 9px;
	background: url(../img/dotted-right.png)no-repeat;
	margin-left: 10px;
}
.consultation__content{
	position: relative;
	height: 345px;
}
.phone__img{
	position: absolute;
	z-index: 4;
	left: 0;
	bottom: -40px;
}
.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer{
	padding-top: 90px;
	padding-bottom: 20px;
	background: #2a5b84;
	color: #fff;
}

.footer__menu a{
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}
	.footer__menu a:hover{
		color: var(--red-color);
	}
.footer__menu li{
	margin-bottom: 12px;
}
.footer__contact{
	text-align: right;
	font-weight: 600;
	font-size: 18px;
}
.footer__contact__item{
	margin-bottom: 25px;
	line-height: 1.5;
}
.copyright{
	font-size: 14px;
	color: #e0e7f0;
	font-weight: 600;
}
.copyright > div{
	width: 100%;
}
.social__item{
	color: #fff;
}
.social__item:hover{
	color: var(--red-color);
}
.social__item + .social__item{
	margin-left: 5px;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-slide{
	border: 0 !important;
	outline: 0 !important;
}
.review__buttons{
	font-size: 14px;
	font-weight: 600;
	margin-top: 45px;
}
.prev{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
}
	.prev:hover,
	.next:hover{
		color: var(--red-color);
	}
.next{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	margin-left: 10px;
}
.top-block__btn{
	position: absolute;
	z-index: 2;
	bottom: 35px;
	left: 0;
	width: 100%;
}
.slider-btn{
	cursor: pointer;
}
.info-block__btn{
	margin-bottom: 45px;
}
.slider-btn + .slider-btn{
	margin-left: 20px;
}
.section--family .item-title{
	margin-bottom: 35px;
}
.middle{
	display: inline-block;
	vertical-align: middle;
}
.arrow-btn{
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
.arrow-btn span{
	margin-right: 5px;
}
.arrow-btn:hover{
	color: var(--red-color);
}
img{
	max-width: 100%;
	height: auto;
}
.review__carousel{
	max-width: 700px;
}
.header__info__item{
	display: inline-block;
	vertical-align: top;
	font-weight: 600;
	text-align: right;
}
.header__info__item > div + div{
	margin-top: 7px;
}
.header__info__item + .header__info__item{
	margin-left: 50px;
}
.header{
	padding: 5px 0;
	color: #fff;
	background: url(../img/bg.jpg);
}
.nav{
	-webkit-box-shadow: 5px 0px 21px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    5px 0px 21px 0px rgba(0, 0, 0, 0.1);
	box-shadow:         5px 0px 21px 0px rgba(0, 0, 0, 0.1);
}
.nav__menu{
	width: calc(100% - 260px);
}
.nav__menu a{
	font-size: 16px;
	color: #000;
	font-weight: 600;
}
.nav__menu li{
	position: relative;
	height: 49px;
	line-height: 47px;
}
.nav__menu li:hover:after,
.nav__menu li.current:after{
	content: "";
	display: block;
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	
	width: 35px;
	height: 4px;
	background: #ff5d71;
}
.btn{
	display: inline-block;
	vertical-align: middle;
}
.button--header{
	width: 220px;
	padding: 14px 10px;
	background: #ff5d71;
}
.info-block ul{
	margin-bottom: 45px;
}
.info-block ul li{
	position: relative;
	padding-left: 55px;
	font-size: 16px;
	line-height: 1.5;
}
.info-block ul li + li{
	margin-top: 35px;
}
.info-block ul li:before{
	content: "";
	display: block;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 5px;
	width: 29px;
	height: 23px;
	background: url(../img/check-mark.png)no-repeat;
}
.info-block ul li:nth-child(2n):before{
	background: url(../img/check-mark-yellow.png)no-repeat;
}
.section--parent{
	padding-top: 55px;
	padding-bottom: 10px;
	position: relative;
	z-index: 2;
	background: #fbfafa;
	-webkit-box-shadow: 8px 0px 30px 0px rgba(55, 34, 37, 0.14);
	-moz-box-shadow:    8px 0px 30px 0px rgba(55, 34, 37, 0.14);
	box-shadow:         8px 0px 30px 0px rgba(55, 34, 37, 0.14);
}
.section--family{
	padding: 75px 0;
}
.section--family p{
	margin-bottom: 45px;
}
.section--family h4{
	line-height: 1.7;
}
.button--blue{
	background: var(--blue);
}
.button--purple{
	background: var(--purple);
}
.button--purple:hover{
	background: #4c4ac4;
}
.button--blue:hover{
	background: #2e9ec0;
}
.section--acces,
.review{
	padding: 50px 0;
}
.section--acces .button{
	margin-top: 45px;
}
.section--acces{
	position: relative;
}
.section--acces .item-title{
	margin-bottom: 35px;
}
.section--acces:before,
.review:before{
	content: "";
	position: absolute;
	z-index: -1;
	width: 120%;
	height: 100%;
	-webkit-transform: rotate(-8deg) translate(-5%, 0);
	-ms-transform: rotate(-8deg) translate(-5%, 0);
	-o-transform: rotate(-8deg) translate(-5%, 0);
	transform: rotate(-8deg) translate(-5%, 0);
	background: #fbfafa;
	left: 0;
	top: 0;
	-webkit-box-shadow: 8px 0px 30px 0px rgba(55, 34, 37, 0.14);
	-moz-box-shadow:    8px 0px 30px 0px rgba(55, 34, 37, 0.14);
	box-shadow:         8px 0px 30px 0px rgba(55, 34, 37, 0.14);
}
.review{
	padding-top: 170px;
}
.wrapper{
	position: relative;
	overflow: hidden;
}
.info-block--acces{
	padding-top: 150px;
}
.info-block{
	position: relative;
}
.footer__bottom{
	margin-top: 80px;
}
.slider-btn--blue:hover{
	color: var(--blue);
}
.footer__menu__item{
	display: inline-block;
	vertical-align: top;
}
.footer__menu__item + .footer__menu__item{
	margin-left: 50px;
}