@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .text-block__item:nth-child(2){
		margin-top: -120px;
	}
	.text-block__item:nth-child(3){
		margin-top: -260px;
	}
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .copyright {
	  -webkit-box-align: end;
	  -ms-flex-align: end;
	  align-items: flex-end;
	}
}
@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}

@media(max-width: 1399px){
	.review__img{
		max-width: 600px;
		bottom: -50px;
	}
	.review__carousel{
		max-width: 600px;
	}
	h1.item-title{
		font-size: 38px;
	}
}
@media(max-width: 1199px){
	.phone__img,
	.review__img{
		display: none;
	}
	.item-title{
		font-size: 24px;
	}
	.review__carousel{
		max-width: 100%;
	}
	.nav__menu a{
		font-size: 14px;
	}
	.footer__menu__item + .footer__menu__item{
		margin-left: 20px;
	}
	.section--parent{
		padding-bottom: 50px;
	}
	.footer__bottom{
		margin-top: 40px;
	}
	.info-block ul li + li{
		margin-top: 20px;
	}
	.nav__menu{
		width: calc(100% - 200px)
	}
	h1.item-title{
		font-size: 32px;
	}
	.button--header{
		font-size: 16px;
		width: 180px;
		padding: 15px 10px;
	}
	h4{
		font-size: 18px;
		margin-bottom: 15px;
	}
	.item-title{
		margin-bottom: 40px;
	}
}
@media(min-width: 992px){
	.visible-md{
		display: none !important;
	}
}
@media(max-width: 991px){
	p{
		font-size: 14px;
		line-height: 1.3;
	}
	.text-block:after,
	.text-block:before{
		content: none;
	}
	.section--acces:before, 
	.review:before{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.info-block--top{
		padding-top: 110px;
	}
	.button{
		font-size: 14px;
		padding: 15px 10px;
	}
	.info-block--acces{
		padding-top: 0;
	}
	.button span:before,
	.button span:after{
		content: none;
	}
	p + p{
		margin-top: 15px;
	}
	.info-block--top .button{
		position: absolute;
		z-index: 2;
		right: 0;
		top: 0;
		width: 160px;
	}
	.top-block__btn{
		top: 60px;
		bottom: auto;
	}
	.text-block{
		padding: 50px 0;
	}
	.text-block__content{
		margin-top: 30px;
	}
	.hidden-md{
		display: none;
	}
	.item-title:before{
		height: 18px;
	}
	.description{
		font-size: 16px;
	}
	h1.item-title{
		text-align: left;
		font-size: 20px;
	}
	h2.item-title{
		font-size: 20px;
	}
	h4{
		font-size: 16px;
	}
	.button{
		width: 160px;
		padding: 15px 10px;
		font-size: 14px;
	}
	.info-block ul li{
		font-size: 14px;
		line-height: 1.3;
	}
	.section--parent .button{
		margin-left: 55px;
	}
	.review,
	.footer{
		padding: 40px 0;
	}
	.review__content{
		padding-bottom: 0;
	}
	.consultation__text{
		position: static;
		width: 315px;
		height: 311px;
		margin: auto;
		background: url(../img/mobile-bg.png)no-repeat;
	}
	.consultation{
		background: none;
	}
	h2.item-title--form{
		font-size: 15px;
		margin-bottom: 15px;
	}
	.consultation__text > div{
		max-width: 215px;
		padding-bottom: 75px;
	}
	.consultation__text .button{
		padding: 13px 10px;
		background: var(--blue);
	}
	.consultation{
		height: 390px;
		padding-top: 40px;
	}
	.header__info__item{
		font-size: 14px;
	}
	.header__info__item > div + div{
		margin-top: 5px;
	}
}
@media(max-width: 767px){
	.text-block__item{
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	.footer{
		padding: 30px 0;
	}
	.footer__content > div{
		width: 100%;
		text-align: center;
	}
	.consultation__text{
		width: 100%;
		height: auto;
		text-align: center;
		background: none;
		color: #fff;
		position: static;
	}
	.consultation{
		height: auto;
		padding: 20px 0;
	}
	.consultation__content{
		height: auto;
	}
	.item-title{
		font-size: 20px;
		margin-bottom: 20px;
		width: 100%;
		text-align: center;
	}
	.button {
    width: 245px;
    padding: 15px 10px;
    font-size: 16px;
	}
	.review__content{
		padding-bottom: 50px;
	}
	.review__item,
	.review__buttons{
		text-align: center;
	}
}